{{ define "main" }}

    <header>
        <div class="container">
            <h1>{{ .Title }}</h1>
            <h2>{{ .Params.subtitle }}</h2>
            <p class="ingress">
                {{ .Params.textContent }}
            </p>
        </div>
    </header>

    <main>
        <section class="container">
            <h2>{{ .Params.durationTitle }}</h2>
            <div class="visa-cards">
                {{ range .Params.durationCards }}
                    <div class="visa-card">
                        <h3>{{ .title }}</h3>
                        <p class="visa-card-subtitle">{{ .subtitle }}</p>
                        <p>
                            {{ .description }}
                        </p>
                    </div>
                {{ end }}
            </div>
        </section>

        {{ partial "qa" . }}
    </main>

{{ end }}