{{ define "main" }}

    <header>
        <div class="container">
            <h1>{{ .Title }}</h1>
            <h2>Stay in Thailand for up to 14 months!</h2>
            <p class="ingress">
                At RTL Scool, you can get a Non-immigrant Education visa, allowing you to stay in
                Thailand while studying the Thai language. Contact us to find out more, we will help with any paperwork!
            </p>
        </div>
    </header>

    <main>
        <div class="container">
            <h2>Duration of ED visa and extensions</h2>
            <div class="visa-cards">
                <div class="visa-card">
                    <h3>Basic studies</h3>
                    <p class="visa-card-subtitle">3 months</p>
                    <p>
                        First, all students must attend the fundamental courses.
                        The total duration of these courses is 3 months. After 3 months
                        students will be taken to the Ministry of Education for a brief test
                        to prove their skills.
                    </p>
                </div>
                <div class="visa-card">
                    <h3>Intermediate studies</h3>
                    <p class="visa-card-subtitle">5 months</p>
                    <p>
                        If students pass the test and would like to continue their studies with an
                        intermediate ED visa for 5 more months, RTL will file an extension for them.
                    </p>
                </div>
                <div class="visa-card">
                    <h3>Advanced studies</h3>
                    <p class="visa-card-subtitle">6 months</p>
                    <p>
                        After the 5-month intermediate studies have been completed, students can apply for
                        the advanced ED visa for 6 more months.
                    </p>
                </div>
            </div>
        </div>
    </main>

{{ end }}