.icon-grid-title {
  margin-bottom: 2rem;
}

.icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  .icon-card {
    align-items: center;
    color: $light-color;
    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 120px;
      }
    }
    p {
      text-align: center;
      max-width: 14rem;
      margin: 1rem auto;
    }
  }
  @media only screen and (max-width: 712px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (max-width: 512px) {
    grid-template-columns: 1fr ;
    grid-gap: 1rem;
    margin-bottom: 4rem;
    .icon-card {
      display: grid;
      grid-template-columns: 80px 1fr;
      grid-gap: 1rem;
      .icon-container {
        img {
          width: 80px;
        }
      }
      p {
        max-width: none;
        text-align: left;
      }
    }
  }
}