.schedule {
  max-width: 768px;
  margin: 4rem auto;
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .course-schedule {
    display: grid;
    grid-template-columns: 10rem 10rem 1fr;
    margin-bottom: 4rem;
    grid-gap: 2rem;
    @media only screen and (max-width: 712px) {
      grid-template-columns: 1fr 1fr;
      .holiday-card {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
    .start-card {
      background-color: $cheery-color;
    }
    .end-card {
      background-color: $complementary-color;
    }
    .start-card, .end-card, .holiday-card {
      border-radius: 1rem;
      p {
        text-align: center;
        color: $background-color;
        font-family: $header-font;
        font-weight: 700;
      }
      .card-title {
        font-size: 1.25rem;
      }
      .card-date {
        font-size: 3.75rem;
        margin: 0;
        line-height: 1;
      }
      .card-month {
        font-size: 1.25rem;
      }
    }
    .holiday-card {
      background-color: $light-color;
      padding: 1.25rem;
      .card-title {
        margin: 0 0 1rem;
      }
      .holiday-dates {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
        .holiday-day {
          font-size: 1.5rem;
          margin: 0;
        }
        .holiday-month {
          margin: 0;
        }
      }
    }
  }
}