.khruu-cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4rem 0;
  @media only screen and (max-width: 712px) {
    max-width: 320px;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin: 4rem auto;
  }
  p {
    font-family: $header-font;
    color: $light-color;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
  }
  img {
    height: 20rem;
    display: block;
    margin: auto;
    border-radius: 1rem;
  }
}