$header-font: "Bitter", serif;
$bread-font: "Noto Sans Thai Looped", sans-serif;
$cheery-color: #38a7de;
$cheery-color-dark: #26769A;
$light-color: #767676;
$dark-color: #333333;
$background-color: #F8F6F7;
$background-color-translucent: #F8F6F7DD;

