.main-nav {
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  background-color: $background-color-translucent;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  .nav-container {
    max-width: 900px;
    margin: auto;
    .logo {
      display: inline-block;
      height: 5rem;
      svg {
        height: calc(100% - 1rem);
        padding: 0.75rem;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .side-menu {
      display: none;
      &:checked ~ nav {
        grid-template-rows: 1fr;
      }
      &:checked ~ .hamburger .hamburger-line {
        background: transparent;
      }
      &:checked ~ .hamburger .hamburger-line::before {
        transform: rotate(-45deg);
        top: 0;
      }
      &:checked ~ .hamburger .hamburger-line::after {
        transform: rotate(45deg);
        top: 0;
      }
    }
    .nav {
      width: 100%;
      /* weird grid magic to ensure smooth transitions */
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.1s cubic-bezier(0.5, 1, 0.5, 1);
      .menu {
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          border-bottom: 1px solid $cheery-color;
          &:first-of-type {
            border-top: 1px solid $cheery-color;
          }
          .nested-menu {
            display: block;
            list-style: none;
            padding: 0;
            li {
              a {
                padding-left: 4rem;
              }
              &:last-of-type {
                border-bottom: 0;
              }
            }
          }
        }
        a, p {
          padding: 1.15rem 2rem;
          display: flex;
          font-family: $header-font;
          font-weight: 700;
          font-size: 1.1rem;
          text-transform: uppercase;
          color: $cheery-color;
          &.active {
            color: $background-color;
            background-color: $cheery-color;
          }
          &:hover {
            opacity: 0.7;
          }
          .menu-title {
            flex-grow: 1;
            svg {
              display: none;
            }
          }
          .menu-subtitle {
            font-size: 1rem;
            font-weight: 400;
            align-self: center;
          }
        }
      }
    }
  }
}

/* Menu Icon */
.hamburger {
  cursor: pointer;
  float: right;
  padding: 2.75rem 1rem;
  &:hover {
    .hamburger-line {
      background-color: $cheery-color;
      &::before,
      &::after{
        background-color: $cheery-color;
      }
    }
  }
  .hamburger-line {
    background-color: $dark-color;
    display: block;
    height: 2px;
    position: relative;
    width: 1.5rem;
    &::before,
    &::after{
      background-color: $dark-color;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: transform .1s ease-out, top .1s ease-out;
      width: 100%;
    }

    &::before{
      top: 0.5rem;
    }
    &::after{
      top: -0.5rem;
    }
  }
}

@media (min-width: 768px) {
  .main-nav {
    height: 5rem;
    .nav-container {
      display: flex;
      flex-grow: 1;
      .logo {
        display: block;
        height: calc(5rem - 1.5rem);
        padding: 0.75rem;
        svg {
          height: calc(5rem - 1.5rem);
          padding: 0;
        }
      }
      .nav {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 0 0.75rem 0 0;
        .menu {
          overflow: visible;
          display: flex;
          align-items: center;
          > li.menu-item {
            a {
              height: 5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.25rem;
              .menu-title {
                svg {
                  display: inline;
                  width: 1rem;
                  padding-left: 0.25rem;
                  path {
                    fill: $cheery-color;
                  }
                  &.highlighted {
                    path {
                      fill: $background-color;
                    }
                  }
                }
              }
            }
          }
          .menu-item {
            display: inline-block;
            white-space: nowrap;
            border: none;
            .nested-menu {
              display: none;
            }
            &:hover {
              .nested-menu {
                z-index: 1000;
                position: absolute;
                display: block;
                padding: 0;
                border-radius: 0 0 1rem 1rem;
                background-color: $cheery-color;
                top: 4.95rem;
                .menu-item {
                  display: flex;
                  padding: 0;
                  a {
                    height: 3rem;
                    padding: 0 1rem;
                    color: $background-color;
                    font-size: 1rem;
                    flex-grow: 1;
                  }
                  &:last-of-type {
                    a {
                      border-radius: 0 0 1rem 1rem;
                    }
                  }
                }
              }
            }
            &:first-of-type {
              border: none;
            }
            a {
              padding: 0 1rem;
              display: inline-block;
            }
          }
        }
      }
      .hamburger {
        display: none;
      }
    }
  }
}