body {
  color: $dark-color;
  background-color: $background-color;
  font-family: sans-serif;
  margin: 0;
}

header {
  padding-top: 7rem;
}

h1 {
  font-family: $header-font;
  font-weight: 700;
  color: $light-color;
  text-align: center;
  font-size: calc(1.4rem + 1.9vw);
}

h2 {
  font-family: $header-font;
  font-weight: 700;
  color: $light-color;
  text-align: center;
  font-size: calc(1rem + 1.6vw);
  line-height: 1.6;
}

h3 {
  font-family: $header-font;
  font-weight: 700;
  font-size: 1.4rem;
  color: $light-color;
}

hr {
  max-width: 650px;
  margin: 3rem auto 3rem;
  border-color: #ffffff44;
}

a {
  text-decoration: none;
}

p, ul, ol {
  font-family: $bread-font;
}

figure {
  transition: all 0.1s ease-in-out;
  margin: 0 auto;
  img, video {
    display: block;
    max-width: 100%;
    min-width: 12rem;
    max-height: 18rem;
    margin: auto;
  }
  figcaption {
    margin-top: 1rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-family: $bread-font;
    color: $dark-color;
  }
}

iframe {
  max-width: 650px;
  margin: auto;
}