body {
  color: $dark-color;
  background-color: $background-color;
  font-family: sans-serif;
  margin: 0;
}

header {
  padding-top: 80px;
  margin-bottom: 4rem;
}

h1, h2, h3, h4 {
  font-family: $header-font;
  font-weight: 700;
  color: $light-color;
  &::selection {
    color: $background-color;
    background-color: $cheery-color-dark;
  }
}

h1 {
  text-align: center;
  font-size: calc(1.4rem + 1.9vw);
  @media only screen and (min-width: 712px) {
    font-size: 2rem;
  }
}

h2 {
  text-align: center;
  line-height: 1.6;
  font-size: calc(1rem + 1.6vw);
  @media only screen and (min-width: 712px) {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 1.4rem;
}

hr {
  max-width: 650px;
  margin: 3rem auto 3rem;
  border-color: #ffffff44;
}

a {
  text-decoration: none;
  &::selection {
    color: $background-color;
    background-color: $cheery-color-dark;
  }
}

div, p, ul, ol, i, b, em {
  font-family: $bread-font;
  &::selection {
    color: $background-color;
    background-color: $cheery-color-dark;
  }
}

figure {
  transition: all 0.1s ease-in-out;
  margin: 0 auto;
  img, video {
    display: block;
    max-width: 100%;
    min-width: 12rem;
    max-height: 18rem;
    margin: auto;
  }
  figcaption {
    margin-top: 1rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-family: $bread-font;
    color: $dark-color;
  }
}

img {
  &::selection {
    color: $background-color;
    background-color: $cheery-color-dark;
  }
}

iframe {
  max-width: 650px;
  margin: auto;
}