@import "constants";
@import "fonts";
@import "tags";
@import "nav";
@import "footer";
@import "contact";
@import "courses";
@import "ed-visa";
@import "about-us";
@import "activities";
@import "partials/icon-grid";
@import "partials/pricing";
@import "partials/resume-cards";
@import "partials/text-block";
@import "partials/split-block";
@import "partials/schedule";
@import "partials/social-media-buttons";
@import "partials/reviews";
@import "partials/calendar";
@import "partials/agent";
@import "partials/qa";

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 1rem;
  header {
    img {
      height: auto;
      max-width: 100%;
    }
    .hero {
      margin: 0 -1rem;
      max-width: calc(100% + 2rem)
    }
  }
}

.narrow-container {
  max-width: 512px;
  margin: auto;
  padding: 0 1rem;
}

.cta-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  .cta {
    display: inline-block;
    cursor: pointer;
    background-color: $cheery-color;
    color: $background-color;
    font-family: $header-font;
    font-weight: 700;
    font-size: calc(0.8rem + 1.6vw);
    @media only screen and (min-width: 712px) {
      font-size: 1.6rem;
    }
    border: 0.25rem solid $cheery-color;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    &:hover {
      background-color: $background-color;
      color: $cheery-color;
      border: 0.25rem solid $cheery-color;
    }
  }

  .mini-cta {
    display: inline-block;
    cursor: pointer;
    background-color: $cheery-color;
    color: $background-color;
    font-family: $header-font;
    font-weight: 700;
    font-size: 1rem;
    border: 0.125rem solid $cheery-color;
    border-radius: 1rem;
    padding: 0.75rem 1.25rem;
    &:hover {
      background-color: $background-color;
      color: $cheery-color;
      border: 0.125rem solid $cheery-color;
    }
  }
}

.double-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  .double-button-link {
    padding: 0.5rem 1rem;
    border: 2px solid $cheery-color;
    font-family: $header-font;
    font-weight: 700;
    color: $cheery-color;
    &.active {
      color: $background-color;
      background-color: $cheery-color;
    }
    &:first-of-type {
      border-radius: 0.5rem 0 0 0.5rem;
    }
    &:last-of-type {
      border-radius: 0 0.5rem 0.5rem 0;
    }
    &:hover {
      color: $background-color;
      background-color: $cheery-color;
    }
  }
}

.map-container {
  margin-bottom: 4rem;
  h2 {
    margin-bottom: 0;
  }
  .subtitle {
    text-align: center;
    margin: 0 0 2rem;
    color: $light-color;
    font-weight: 700;
  }
  .map {
    display: block;
    width: 512px;
    max-width: 90%;
    height: 400px;
    margin: 0 auto 2rem;
    border-radius: 1rem;
    object-fit: cover;
  }
}

.ingress {
  max-width: 512px;
  margin: auto;
}

.notfound-container {
  min-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}