<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>

  <script src="/file.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ $.Site.BaseURL }}">
  <title>{{ .Title }} - {{ $.Site.Title }}</title>

  <meta property="og:url" content="{{ .Permalink }}" />
  <link rel="canonical" href="{{ .Permalink }}" />

  <meta property="og:title" content="{{ with .Params.metaTitle }}{{ . }}{{ else }}{{ $.Site.Title }} - {{ .Title }}{{ end }}" />
  <meta name="description" content="{{ with .Params.metaDescription }}{{ . }}{{ else }}Rak Thai Language School{{ end }}">
  <meta property="og:description" content="{{ with .Params.metaDescription }}{{ . }}{{ else }}Rak Thai Language School is fun, friendly and affordable!{{ end }}">

  <link rel="preload" href="/fonts/bitter-v33-latin_latin-ext-700.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/bitter-v33-latin_latin-ext-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/noto-sans-thai-looped-v14-latin_latin-ext_thai-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://static-analytics.vercel.app/file.js" as="script">

  {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.banner) }}

  {{ with $imageResource }}
    {{ $resizedHero768 := $imageResource.Resize "768x q90 webp"}}
    <meta property="og:image" content="{{ $resizedHero768.RelPermalink }}">
  {{ end}}

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/favicons/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/favicons/favicon-128.png" sizes="128x128" />


  {{ $style := resources.Get "scss/index.scss" | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

  <!-- Hotjar Tracking Code for RTL -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3874974,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <script>
    (function(n){
      const userLang = n.language || n.userLanguage;
      fetch('https://language-analytics.vercel.app/api/hello', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ "language": userLang })
      })
    })(navigator)
  </script>

  {{ if .IsHome }}
    {{ partial "richresults-front" . }}
  {{ end }}

  {{ if eq .RelPermalink "/courses/course-list/" }}
    {{ partial "richresults-courses" . }}
  {{ end }}

</head>

<body>
    {{ block "top-nav" . }}{{ partial "top-nav" . }}{{end}}

    {{ block "main" . }}{{end}}
  
    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ partial "chat" . }}

  <script src="https://static-analytics.vercel.app/file.js"></script>
</body>

</html>
