<section class="container">
    {{ $lineIcon := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" "line.svg") }}
    {{ $waIcon := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" "wa.svg") }}
    {{ with .Params.agentSectionTitle }}
        <h2>{{ . }}</h2>
    {{ end }}
    <div class="agent-cards">
        {{ range .Params.agents }}
            {{ $imageResource := (site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .portrait) }}
            {{ $resizedPortrait2x := $imageResource.Resize "x640 q90 webp"}}
            {{ $resizedPortrait1x := $resizedPortrait2x.Resize "x320 q90 webp"}}
            <div class="agent-card">
                <img
                    class="agent-portrait"
                    srcset="{{ $resizedPortrait1x.RelPermalink }}, {{ $resizedPortrait2x.RelPermalink }} 2x"
                    src="{{ $resizedPortrait2x.RelPermalink }}"
                    alt=""
                >
                <div class="agent-card-content">
                    <h3>{{ .name }}</h3>
                    <p>{{ .title }}</p>
                    <p>{{ .phone }}</p>
                    <a href="{{ .line }}">
                        <img src="{{ $lineIcon.RelPermalink }}" alt="Contact on Line">
                    </a>
                    <a href="{{ .whatsapp }}">
                        <img src="{{ $waIcon.RelPermalink }}" alt="Contact on Whatsapp">
                    </a>
                </div>
            </div>
        {{end}}
    </div>
</section>