<aside class="chat" id="chat">
  <div class="chat-content">
    <h3>Click to chat with us...</h3>
    <div class="messaging-buttons">
      <a href="https://line.me/ti/p/r2YsExlNUi" aria-label="Contact on Line">
        {{ $iconResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch "line.svg" }}
        <img src="{{ $iconResource.Permalink }}" alt="Line Logo">
      </a>
      <a href="https://wa.me/66619785962">
        {{ $iconResource2 := ($.Site.GetPage "section" "uploads").Resources.GetMatch "wa.svg" }}
        <img src="{{ $iconResource2.Permalink }}" alt="WhatsApp Logo">
      </a>
    </div>
    <h3>...or send a message</h3>
    <form
        action="https://formspree.io/f/xrgnpvdl"
        method="POST"
    >
      <label for="email-input">Email</label>
      <input type="email" placeholder="your.email@domain.com" id="email-input" name="email" required>
      <label for="message-input">Message</label>
      <textarea placeholder="Hello! I would like to know more about..." id="message-input" name="message" required></textarea>
      <button type="submit" onclick="">Submit</button>
    </form>
  </div>
  <button class="chat-button" aria-label="Open chat" onclick="toggleChat()">
    <svg width="29" height="27" viewBox="0 0 29 27" fill="none" xmlns="http://www.w3.org/2000/svg" class="open">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1562 22.5349C5.26621 21.6576 0 16.9767 0 11.3411C5.15664e-05 5.08189 6.49721 0 14.4999 0C22.5027 0 29 5.08185 29 11.3411C29 16.6214 24.3767 21.0632 18.1265 22.3244C18.9033 24.1626 20.1251 25.893 21.3129 27C17.1958 26.2742 14.3431 24.5151 12.1562 22.5349Z" fill="white"/>
    </svg>
    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="close">
      <rect y="2.82837" width="4" height="30" transform="rotate(-45 0 2.82837)" fill="#38A5DD"/>
      <rect x="21.2134" width="4" height="30" transform="rotate(45 21.2134 0)" fill="#38A5DD"/>
    </svg>
  </button>
  <script>

    const textarea = document.getElementById('message-input');
    const email = document.getElementById('email-input');

    // Load the initial value from localStorage
    email.value = localStorage.getItem('emailInputValue') || '';
    textarea.value = localStorage.getItem('chatTextAreaValue') || '';

    // Save the value to localStorage on every keystroke
    email.addEventListener('input', () => {
      localStorage.setItem('emailInputValue', email.value);
    });

    textarea.addEventListener('input', () => {
      localStorage.setItem('chatTextAreaValue', textarea.value);
    });

    function toggleChat () {
      const element = document.getElementById("chat")
      if (element.classList.contains("expanded")) {
        element.classList.remove("expanded")
      } else {
        element.classList.add("expanded")
      }
    }
  </script>
</aside>