<section>
    <h2 class="icon-grid-title">{{ .Params.iconGridTitle }}</h2>
    <div class="icon-grid">
        {{ range .Params.iconGridElements }}
            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .image) }}
            <div class="icon-card">
                <div class="icon-container">
                    <img src="{{ $imageResource.RelPermalink }}" alt="">
                </div>
                <div class="icon-description-container">
                    <p>
                        {{ .text }}
                    </p>
                </div>
            </div>
        {{end}}
    </div>
</section>