{{ $headlessBundle := .Site.GetPage "/headless_data" }}
{{ $headlessData := $headlessBundle.Resources.GetMatch (strings.TrimPrefix "/headless_data/" "map.md" ) }}

{{ with $headlessData }}
  <div class="map-container">
    <h2>
      {{ .Params.title }}
    </h2>
    {{ $mapResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.image) }}
    {{ $resizedMap := $mapResource.Resize "1024x q90 webp"}}
    <p class="subtitle">{{ .Params.subtitle  }}</p>
    <a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">
      <img class="map" src="{{ $resizedMap.RelPermalink }}" alt="{{ .Params.alt }}">
    </a>
    <p class="subtitle">{{ .Params.text }}</p>
  </div>
{{ end }}