{{ $headlessBundle := .Site.GetPage "/headless_data" }}
{{ $headlessData := $headlessBundle.Resources.GetMatch (strings.TrimPrefix "/headless_data/" "prices.md" ) }}

<section class="container">
  {{ with $headlessData }}
    <div class="cards">
      <h2>{{ .Params.title }}</h2>
      <p class="price-text">{{ .Params.subtitle }}</p>
      {{ with .Params.prices }}
        <div class="card-container">
          {{ range . }}
            <div class="card">
              <h3>{{ .title }}</h3>
              <p>{{ .time }}</p>
              <p>{{ .price }}</p>
            </div>
          {{ end }}
        </div>
      {{ else }}
        <p>No prices found.</p>
      {{ end }}
      <p class="price-text">{{ .Params.text }}</p>
      <div class="cta-links">
        {{ range .Params.cta }}
            <a class="cta-registration" href="{{ .link }}" aria-label="{{ .label }}">
              {{ $icon := (site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .icon) }}
              <img src="{{ $icon.Permalink }}" alt="">
            </a>
        {{ end }}
      </div>
    </div>
    {{ else }}
      <p>No data found.</p>
  {{ end }}
</section>