<div class="cards">
  <h2>
    Pricing and timetable
  </h2>
  <p class="subtitle">All courses take about 1 month to complete and include a total of 60 hours of study.</p>
  <div class="card-container">
    <div class="card">
      <h3>Morning courses</h3>
      <p>9:00 - 12:00</p>
      <p>7500 baht</p>
    </div>
    <div class="card">
      <h3>Afternoon courses</h3>
      <p>9:00 - 12:00</p>
      <p>7500 baht</p>
    </div>
    <div class="card">
      <h3>Evening courses</h3>
      <p>16:00 - 18:00</p>
      <p>8500 baht</p>
    </div>
  </div>
  <p class="subtitle">Enroll for 3 months or more and receive a 5% discount!</p>
</div>