<section class="container">
  {{ with .Params.khruuTitle }}
    <h2>{{ . }}</h2>
  {{ end }}
  <div class="khruu-experience">
    {{ range .Params.khruu }}
      {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .portrait) }}
      {{ $resizedPortrait1x := $imageResource.Resize "x320 q90 webp"}}
      {{ $resizedPortrait2x := $imageResource.Resize "x640 q90 webp"}}
      <div class="khruu-experience-card">
          <img
              srcset="{{ $resizedPortrait1x.RelPermalink }}, {{ $resizedPortrait2x.RelPermalink }} 2x"
              src="{{ $resizedPortrait2x.RelPermalink }}"
              alt=""
          >
        <div class="khruu-experience-text">
            <h3 class="name">{{ .name }}</h3>
            <h4>Education</h4>
            <p class="degree">{{ with .degree }}{{ . }}{{ end }}</p>
            <h4>Experience in teaching Thai</h4>
            <p class="experience">{{ with .experience }}{{ . }}{{ end }}</p>
        </div>
      </div>
    {{end}}
  </div>
</section>