{{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.banner) }}

{{ $resizedHero2560 := $imageResource.Resize "2560x q90 webp"}}
{{ $resizedHero1920 := $imageResource.Resize "1920x q90 webp"}}
{{ $resizedHero1280 := $imageResource.Resize "1280x q90 webp"}}
{{ $resizedHero768 := $imageResource.Resize "768x q90 webp"}}
{{ $resizedHero512 := $imageResource.Resize "512x q90 webp"}}

<header>
    <div class="container split-block">
        <h1>{{ .Title }}</h1>
        <div class="split-block-container">
            <img class="split-block-banner"
                 src="{{ $resizedHero512.RelPermalink }}"
                 srcset="{{ $resizedHero512.RelPermalink }} 512w,
                         {{ $resizedHero768.RelPermalink }} 768w,
                         {{ $resizedHero1280.RelPermalink }} 1280w,
                         {{ $resizedHero1920.RelPermalink }} 1920w,
                         {{ $resizedHero2560.RelPermalink }} 2560w"
                 aria-hidden="true"
                 alt="">
            {{ .Params.textSection | markdownify }}
        </div>
    </div>
</header>