<section>
    {{ with .title }}
        <h2>{{ . }}</h2>
    {{ end }}
    <div class="khruu-cards">
        {{ range .people }}
            {{ $imageResource := (site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .portrait) }}
            {{ $resizedPortrait2x := $imageResource.Resize "x640 q90 webp"}}
            {{ $resizedPortrait1x := $resizedPortrait2x.Resize "x320 q90 webp"}}
            <div class="khruu-card">
                <img
                    srcset="{{ $resizedPortrait1x.RelPermalink }}, {{ $resizedPortrait2x.RelPermalink }} 2x"
                    src="{{ $resizedPortrait2x.RelPermalink }}"
                    alt=""
                >
                <p>{{ .name }}</p>
            </div>
        {{end}}
    </div>
</section>