<nav class="main-nav" id="nav-links">
    <div class="nav-container">
        <a class="logo" href="/" aria-label="Go to home page">
            {{ partial "logo.html" . }}
        </a>
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamburger" for="side-menu" aria-label="Navigaation"><span class="hamburger-line"></span></label>
        <nav class="nav">
            <ul class="menu">
                {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
            </ul>
        </nav>
    </div>
</nav>
