{{ define "main" }}

<div class="container">
  {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.banner) }}

  {{ $resizedHero2560 := $imageResource.Resize "2560x q90 webp"}}
  {{ $resizedHero1920 := $imageResource.Resize "1920x q90 webp"}}
  {{ $resizedHero1280 := $imageResource.Resize "1280x q90 webp"}}
  {{ $resizedHero768 := $imageResource.Resize "768x q90 webp"}}
  {{ $resizedHero512 := $imageResource.Resize "512x q90 webp"}}

  <header>
    <img class="hero"
         width="1920"
         height="1280"
         src="{{ $resizedHero512.RelPermalink }}"
         srcset="{{ $resizedHero512.RelPermalink }} 512w,
                   {{ $resizedHero768.RelPermalink }} 768w,
                   {{ $resizedHero1280.RelPermalink }} 1280w,
                   {{ $resizedHero1920.RelPermalink }} 1920w,
                   {{ $resizedHero2560.RelPermalink }} 2560w"
         aria-hidden="true"
         alt="">
    <h1>{{ .Title }} - {{ .Params.subtitle }}</h1>
    <div class="cta-container">
      <a class="cta" href="/courses/free-lesson">{{ .Params.ctaText }}</a>
    </div>
  </header>
  {{ partial "icongrid" . }}
  {{ partial "pricing" . }}
  {{ partial "map" . }}
</div>

{{ end }}