{{ define "main" }}

    <header>
        <h1>{{ .Title }}</h1>
    </header>

    <main>
        <div class="contact-grid">
            <div class="contact-card">
                <h2>{{ .Params.contactSquareTitle}}</h2>
                {{ .Params.contactSquareDetails | markdownify }}
                {{ partial "social-media-buttons" . }}
            </div>
            <div class="contact-card">
                <h2>{{ .Params.addressSquareTitle}}</h2>
                {{ .Params.addressSquareDetails | markdownify }}
            </div>
            <div class="contact-card">
                <h2>{{ .Params.formSquareTitle }}</h2>
                <form
                    action="https://formspree.io/f/xrgnpvdl"
                    method="POST"
                >
                    <label for="email-input">Email</label>
                    <input type="email" placeholder="your.email@domain.com" id="email-input" name="email">
                    <label for="message-input">Message</label>
                    <textarea placeholder="Hello! I would like to know more about..." id="message-input" name="message"></textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="contact-card">
                <h2>{{ .Params.mapSquareTitle }}</h2>
                {{ $mapResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.map) }}
                {{ $resizedMap := $mapResource.Resize "800x q90 webp"}}
                <a href="{{ .Params.mapLink }}" target="_blank" rel="noopener noreferrer">
                    <img
                        class="map"
                        src="{{ $resizedMap.Permalink }}"
                        alt="{{ .Params.mapAltText }}"
                    >
                </a>
            </div>
        </div>
    </main>

{{ end }}